<h1>Stupid Coaching</h1>
<p>ask your coach anything</p>
<div class="form-group" >
<form action="/answer" method="get">
  <input class="btn btn-primary" type="text" name="answer" placeholder="what do you want from me?">
  <input  type="submit" value="Ask!">
</form>
</div>
